.text-rotate {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
}

.text-rotate-word {
  display: inline-flex;
  overflow: hidden;
}

.text-rotate-element {
  display: inline-block;
  color: #767676;
}

.text-rotate-space {
  white-space: pre;
}
